@media only screen and (min-width:1025px) {
body{
	margin-left: 150px;
	margin-right:150px;
}
}
body{
	margin-left: 5px;
	margin-right:5px;
}

button{
	border-radius: 1000px;
}
input[type="button"]{
	border-radius: 1000px;
}
.am-btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.5em 1em;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  /** 默认为圆角**/
  border-radius: 1000px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
          transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

.G_div_loading{
	position:fixed; 
margin:-100px 0px 0px -100px;
height:60px; 
width:200px;
padding: 4px 10px;
border: 1px solid #efe;
top: 50%; 
left: 50%; 
text-align: center; 
color: #000;
overflow: auto;
z-index: 9997;
}
.G_div_msg_pop{
position:fixed; 
height:60px; 
width:200px;
padding: 4px 10px;
border: 1px solid #efe;
margin:-100px 0px 0px -100px; 
top: 35%; 
left: 50%; 
text-align: center; 
padding: 0px; 
background-color: #5eb95e; 
color: #fff;
overflow: auto;
display: none;
z-index: 9999;
}

.header {
      text-align: center;
    }
    .header h1 {
      font-size: 120%;
      color: #333;
      margin-top: 2px;
    }
    .header p {
      font-size: 14px;
    }
    
    .px_disable_0{
    
    }
    .px_disable_1{
   		 color:red;
    	background-color: silver;
    }
    .px_color_red{
   		 color:red;
    }
    
    .G_img_down404{
   	 background-color: silver;
    width: 100px;
    height: 100px;
    }
    
      .G_img_header{
   	 background-color: silver;
    width: 100px;
    height: 100px;
    }
    

    .G_ch_cook_item{
    float: left;
    margin-left: 15px;
    position:relative;
    cursor: pointer;
    margin-top: 5px;
    border:1px solid #FFFFFF;
     width: 134px; height: 122px;
     text-align: center;
    }
    .G_ch_cook_item img{width: 134px;height: 100px;}
  
    .G_ch_cook_item_checked{
    float: left;margin-left: 15px;position:relative;cursor: pointer;
    margin-top: 5px;border:1px solid #FF0033; width: 134px; height: 122px;
    text-align: center;
    }
       .G_ch_cook_item_checked img{width: 134px;height: 100px;}
       
    .G_ch_cook_item span{width: 134px;height: 22px;color: #000000;font-size: 14px;}
   .G_ch_cook_item_checked span{width: 134px;height: 22px;color: #000000;font-size: 14px;}
    
			
			
	
.G_cookplan_Img{width:135px; height:100px; position:relative; margin:15px 5px 10px 0px; float:left;}
.G_cookplan_Img_img{width: 134px;height: 100px;}
.G_cookplan_Img_close{position:absolute; top:0px; right:0px;cursor: pointer;}

.px_reply_comment_bd{
	overflow: hidden;
	 margin:0rem 0rem 0rem 1.5rem;
}
.px_hr{
	display: block;
height: 0px;
border-top: 1px solid #EEE;
box-sizing: content-box;
margin-top: 0.2rem;
	
}

.cls{clear:both;height:0px;}

/*点赞*/
.px-icon-hasdianzan  {
color: red;
}
.px-icon-hasdo {
color: red;
}
/*字体按钮放大*/
.px_font_size_click  {
	font-size: 24px;
}

/*评论*/
.G_reply h4{ height:24px; color:#e6268c; border-bottom:1px solid #000;}

.G_reply strong{ display: block;line-height:1.5;font-size:1.2rem; color:#999;}

.G_reply .event{border-bottom:1px solid #9a9a9a;}

.G_Edit_show{
	display:inline;
} 
.G_Edit_hide{
	display:none;
} 
/* 统计*/
.ECharts{
	height:800px;
}

.px_border{
	  border: 1px solid #CCC;
}